<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect"></property>
		<property name="hibernate.connection.url"></property>
		<property name="hibernate.connection.driver_class"></property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
		<mapping resource='com/tecnoven/notify/domain/NotificationData.hbm.xml' />		
		<mapping resource='com/tecnoven/notify/domain/ConfigurationData.hbm.xml' />		
		<mapping resource='com/tecnoven/notify/domain/RecordData.hbm.xml' />											
		<mapping resource='com/tecnoven/notify/domain/TagData.hbm.xml' />		
		<mapping resource='com/tecnoven/notify/domain/TemplateData.hbm.xml' />		
		<mapping resource='com/tecnoven/notify/domain/TemplateDefinitionData.hbm.xml' />
		<mapping resource='com/tecnoven/notify/domain/UserData.hbm.xml' />		
	</session-factory>	
</hibernate-configuration>
